<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.messanger.mapper.AIMapper">

    <resultMap id="AISchemaMap" type="com.project.messanger.dto.AISchemaDto">
        <id property="schemaIdx" column="schema_idx"/>
        <result property="feature" column="feature"/>
        <result property="isUse" column="is_use"/>
        <result property="isRequired" column="is_required"/>
        <result property="columnKey" column="column_key"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
    </resultMap>

    <resultMap id="AILogMap" type="com.project.messanger.dto.AILogDto">
        <id property="aiLogIdx" column="ai_log_idx"/>
        <result property="feature" column="feature"/>
        <result property="prompt" column="prompt"/>
        <result property="result" column="result"/>
        <result property="creatorIdx" column="creator_idx"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <select id="getFeatureList" resultMap="string">
        SELECT DISTINCT feature
        FROM ai_schema
        WHERE is_use = 'Y'
    </select>

    <select id="getColumnList" parameterType="string" resultMap="AISchemaMap">
        SELECT *
        FROM ai_schema
        WHERE feature = #{feature}
          AND is_use = 'Y'
    </select>

    <insert id="insertAILog" parameterType="com.project.messanger.dto.AILogDto">
        INSERT ai_log
        SET <if test="feature != null"> feature = #{feature},</if>
            prompt = #{prompt},
            result = #{result},
            creator_idx = #{creatorIdx},
            created_date = NOW()
    </insert>
</mapper>