<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.messanger.mapper.ChecklistMapper">

    <resultMap id="ChecklistMap" type="com.project.messanger.dto.ChecklistDto">
        <id property="checklistIdx" column="checklist_idx"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="creatorIdx" column="creator_idx"/>
        <result property="createdDate" column="created_date"/>
        <result property="updatedDate" column="updated_date"/>
    </resultMap>

    <resultMap id="ChecklistWithUserMap" type="com.project.messanger.dto.ChecklistWithUserDto">
        <id property="checklistIdx" column="checklist_idx"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="creatorIdx" column="creator_idx"/>
        <result property="creatorName" column="creator_name"/>
        <result property="createdDate" column="created_date"/>
        <result property="updatedDate" column="updated_date"/>
    </resultMap>

    <resultMap id="ChecklistItemMap" type="com.project.messanger.dto.ChecklistItemDto">
        <id property="itemIdx" column="item_idx"/>
        <result property="checklistIdx" column="checklist_idx"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
    </resultMap>

    <resultMap id="ChecklistUserLinkMap" type="com.project.messanger.dto.ChecklistUserLinkDto">
        <id property="linkIdx" column="link_idx"/>
        <result property="checklistIdx" column="checklist_idx"/>
        <result property="teamIdx" column="team_idx"/>
        <result property="userIdx" column="user_idx"/>
    </resultMap>

    <resultMap id="ChecklistUserLinkWithUserMap" type="com.project.messanger.dto.ChecklistUserLinkWithUserDto">
        <id property="linkIdx" column="link_idx"/>
        <result property="checklistIdx" column="checklist_idx"/>
        <result property="teamIdx" column="team_idx"/>
        <result property="teamName" column="team_name"/>
        <result property="userIdx" column="user_idx"/>
        <result property="email" column="email"/>
        <result property="userName" column="user_name"/>
    </resultMap>

    <resultMap id="ChecklistLogMap" type="com.project.messanger.dto.ChecklistLogDto">
        <id property="logIdx" column="log_idx"/>
        <result property="itemIdx" column="item_idx"/>
        <result property="isChecked" column="is_checked"/>
        <result property="content" column="content"/>
        <result property="creatorIdx" column="creator_idx"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <resultMap id="ChecklistLogWithUserMap" type="com.project.messanger.dto.ChecklistLogWithUserDto">
        <id property="logIdx" column="log_idx"/>
        <result property="itemIdx" column="item_idx"/>
        <result property="isChecked" column="is_checked"/>
        <result property="content" column="content"/>
        <result property="creatorIdx" column="creator_idx"/>
        <result property="creatorName" column="creator_name"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <resultMap id="ChecklistGraphMap" type="com.project.messanger.dto.ChecklistGraphDto">
        <result property="logDate" column="log_date"/>
        <result property="checkCount" column="check_count"/>
        <result property="dailyIncrease" column="daily_increase"/>
    </resultMap>

    <sql id="sqlChecklistListCondition">
        FROM checklist
        INNER JOIN user
           ON user.user_idx = checklist.creator_idx
        <where>
            <if test="title != null">
                AND UPPER(checklist.title) LIKE CONCAT('%', UPPER(#{title}), '%')
            </if>
            <if test="status != null">
                AND UPPER(checklist.status) LIKE CONCAT('%', UPPER(#{status}), '%')
            </if>
            <if test="user_idx != null">
                AND (
                    EXISTS (
                        SELECT 1
                        FROM checklist_user_link
                        WHERE checklist_user_link.checklist_idx = checklist.checklist_idx
                          AND (
                            checklist_user_link.user_idx = #{user_idx}
                            <if test="team_idx_list != null and !team_idx_list.isEmpty()">
                                OR checklist_user_link.team_idx IN <foreach collection="team_idx_list" item="value" open="(" close=")" separator=",">#{value}</foreach>
                            </if>
                          )
                    )
                )
            </if>
        </where>
    </sql>

    <select id="getChecklistCount" parameterType="hashmap" resultType="long">
        SELECT COUNT(checklist.checklist_idx)
        <include refid="sqlChecklistListCondition" />
    </select>

    <select id="getChecklistList" parameterType="hashmap" resultMap="ChecklistWithUserMap">
        SELECT checklist.checklist_idx
             , checklist.title
             , checklist.description
             , checklist.status
             , checklist.creator_idx
             , user.user_name AS creator_name
             , checklist.created_date
             , checklist.updated_date
        <include refid="sqlChecklistListCondition" />
        ORDER BY FIELD(checklist.status, 'INCOMPLETE', 'COMPLETED') ASC, checklist.checklist_idx DESC
        LIMIT ${limit} OFFSET ${offset}
    </select>

    <select id="getChecklistMainList" parameterType="hashmap" resultMap="ChecklistWithUserMap">
        SELECT checklist.checklist_idx
             , checklist.title
             , checklist.description
             , checklist.status
             , checklist.creator_idx
             , user.user_name AS creator_name
             , checklist.created_date
             , checklist.updated_date
        FROM checklist
        INNER JOIN user
           ON user.user_idx = checklist.creator_idx
        WHERE checklist.status != 'COMPLETED'
        AND (
            EXISTS (
                SELECT 1
                FROM checklist_user_link
                WHERE checklist_user_link.checklist_idx = checklist.checklist_idx
                  AND (
                    checklist_user_link.user_idx = #{user_idx}
                    <if test="team_idx_list != null and !team_idx_list.isEmpty()">
                        OR checklist_user_link.team_idx IN <foreach collection="team_idx_list" item="value" open="(" close=")" separator=",">#{value}</foreach>
                    </if>
                  )
            )
        )
        ORDER BY FIELD(checklist.status, 'INCOMPLETE', 'COMPLETED') ASC, checklist.checklist_idx DESC
        LIMIT 10
    </select>

    <select id="getChecklistByIdx" parameterType="long" resultMap="ChecklistMap">
        SELECT checklist_idx
             , title
             , description
             , status
             , creator_idx
             , created_date
             , updated_date
        FROM checklist
        WHERE checklist_idx = #{checklistIdx}
    </select>

    <select id="getChecklistGraph" parameterType="hashmap" resultMap="ChecklistGraphMap">
        SELECT daily_stats.log_date
             , daily_stats.check_count
             , LAG(daily_stats.check_count, 1, 0) OVER (ORDER BY daily_stats.log_date) AS daily_increase
        FROM (
            SELECT DATE_FORMAT(created_date, '%Y-%m-%d') AS log_date
                 , SUM(IF(is_checked = 'Y', 1, 0)) AS check_count
            FROM checklist_log
            WHERE DATE_SUB(NOW(), INTERVAL 1 MONTH) &lt;= created_date
            <if test="user_idx != null">
                AND item_idx IN (
                    SELECT item_idx
                    FROM checklist_item
                    WHERE EXISTS (
                        SELECT 1
                        FROM checklist_user_link
                        WHERE checklist_user_link.checklist_idx = checklist_item.checklist_idx
                          AND (
                            checklist_user_link.user_idx = #{user_idx}
                            <if test="team_idx_list != null and !team_idx_list.isEmpty()">
                                OR checklist_user_link.team_idx IN <foreach collection="team_idx_list" item="value" open="(" close=")" separator=",">#{value}</foreach>
                            </if>
                          )
                    )
                )
            </if>
            GROUP BY DATE_FORMAT(created_date, '%Y-%m-%d')
        ) AS daily_stats
        ORDER BY daily_stats.log_date
    </select>

    <select id="getChecklistLog" parameterType="long" resultMap="ChecklistLogMap">
        SELECT log_idx
             , item_idx
             , is_checked
             , content
             , creator_idx
             , created_date
        FROM checklist_log
        WHERE item_idx = #{itemIdx}
        ORDER BY item_idx DESC
    </select>

    <insert id="insertChecklist" parameterType="com.project.messanger.dto.ChecklistDto" useGeneratedKeys="true" keyProperty="checklistIdx" keyColumn="checklist_idx">
        INSERT checklist
        SET title = #{title},
        description = #{description},
        <choose>
            <when test="status != null"> status = #{status},</when>
            <otherwise> status = 'INCOMPLETE',</otherwise>
        </choose>
        creator_idx = #{creatorIdx},
        created_date = NOW(),
        updated_date = NOW()
    </insert>

    <update id="updateChecklist" parameterType="com.project.messanger.dto.ChecklistDto">
        UPDATE checklist
        SET <if test="title != null"> title = #{title},</if>
            <if test="description != null"> description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            updated_date = NOW()
        WHERE checklist_idx = #{checklistIdx}
    </update>

    <delete id="deleteChecklist" parameterType="long">
        DELETE FROM checklist
        WHERE checklist_idx = #{checklistIdx}
    </delete>

    <select id="getChecklistItemList" parameterType="long" resultMap="ChecklistItemMap">
        SELECT item_idx
             , checklist_idx
             , title
             , description
        FROM checklist_item
        WHERE checklist_idx = #{checklistIdx}
        ORDER BY item_idx ASC
    </select>

    <select id="getChecklistItemByIdx" parameterType="long" resultMap="ChecklistItemMap">
        SELECT item_idx
             , checklist_idx
             , title
             , description
        FROM checklist_item
        WHERE item_idx = #{itemIdx}
    </select>

    <insert id="insertChecklistItem" parameterType="com.project.messanger.dto.ChecklistItemDto">
        INSERT INTO checklist_item
        (
            checklist_idx,
            title,
            description,
            updated_date
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.checklistIdx},
            #{item.title},
            #{item.description},
            NOW()
        )
        </foreach>
    </insert>

    <update id="updateChecklistItem" parameterType="com.project.messanger.dto.ChecklistItemDto">
        UPDATE checklist_item
        SET <if test="title != null"> title= #{title},</if>
            <if test="description != null"> description = #{description},</if>
            updated_date = NOW()
        WHERE item_idx = #{itemIdx}
    </update>

    <delete id="deleteChecklistItem" parameterType="long">
        DELETE FROM checklist_item
        WHERE item_idx IN <foreach collection="list" item="value" open="(" close=")" separator=",">#{value}</foreach>
    </delete>

    <select id="getChecklistUserLink" parameterType="long" resultMap="ChecklistUserLinkWithUserMap">
        SELECT checklist_user_link.link_idx
             , checklist_user_link.checklist_idx
             , team.team_idx
             , team.team_name
             , user.user_idx
             , user.email
             , user.user_name
        FROM checklist_user_link
        LEFT JOIN team
          ON team.team_idx = checklist_user_link.team_idx
        LEFT JOIN user
          ON user.user_idx = checklist_user_link.user_idx
        WHERE checklist_user_link.checklist_idx = #{checklistIdx}
    </select>

    <insert id="insertChecklistUserLink" parameterType="com.project.messanger.dto.ChecklistLogDto">
        INSERT INTO checklist_user_link
        (
            checklist_idx,
            team_idx,
            user_idx
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.checklistIdx},
            <choose>
                <when test="item.teamIdx > 0"> #{item.teamIdx},</when>
                <otherwise> null,</otherwise>
            </choose>
            <choose>
                <when test="item.userIdx > 0"> #{item.userIdx}</when>
                <otherwise> null</otherwise>
            </choose>
        )
        </foreach>
    </insert>

    <delete id="deleteChecklistUserLinkByUserIdx" parameterType="hashmap">
        DELETE FROM checklist_user_link
        WHERE checklist_idx = #{checklist_idx}
          AND user_idx IN <foreach collection="user_idx_list" item="value" open="(" close=")" separator=",">#{value}</foreach>
    </delete>

    <delete id="deleteChecklistUserLinkByTeamIdx" parameterType="hashmap">
        DELETE FROM checklist_user_link
        WHERE checklist_idx = #{checklist_idx}
          AND team_idx IN <foreach collection="team_idx_list" item="value" open="(" close=")" separator=",">#{value}</foreach>
    </delete>

    <select id="getChecklistLogLast" parameterType="long" resultMap="ChecklistUserLinkWithUserMap">
        SELECT checklist_log.log_idx
             , checklist_log.item_idx
             , checklist_log.is_checked
             , checklist_log.content
             , checklist_log.creator_idx
             , user.user_name AS creator_name
             , checklist_log.created_date
        FROM checklist_log
        INNER JOIN user
           ON user.user_idx = checklist_log.creator_idx
        WHERE checklist_log.item_idx = #{itemIdx}
        ORDER BY checklist_log.log_idx DESC
        LIMIT 1
    </select>

    <insert id="insertChecklistLog" parameterType="com.project.messanger.dto.ChecklistLogDto">
        INSERT checklist_log
        SET item_idx = #{itemIdx},
            <if test="isChecked != null"> is_checked = #{isChecked},</if>
            <if test="content != null"> content = #{content},</if>
            creator_idx = #{creatorIdx},
            created_date = NOW()
    </insert>

    <update id="updateChecklistLog" parameterType="com.project.messanger.dto.ChecklistLogDto">
        UPDATE checklist_log
        SET <if test="content != null"> content = #{content},</if>
            <if test="isChecked != null"> is_checked = #{isChecked},</if>
            created_date = NOW()
        WHERE log_idx = #{logIdx}
    </update>

    <delete id="deleteChecklistLog" parameterType="long">
        DELETE FROM checklist_log
        WHERE log_idx = #{logIdx}
    </delete>

</mapper>