<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.messanger.mapper.ChecklistMapper">

    <resultMap id="ChecklistMap" type="com.project.messanger.dto.ChecklistDto">
        <id property="checklistIdx" column="checklist_idx"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="creatorIdx" column="creator_idx"/>
        <result property="createdDate" column="created_date"/>
        <result property="updatedDate" column="updated_date"/>
    </resultMap>

    <resultMap id="ChecklistItemMap" type="com.project.messanger.dto.ChecklistItemDto">
        <id property="itemIdx" column="item_idx"/>
        <result property="checklistIdx" column="checklist_idx"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
    </resultMap>

    <resultMap id="ChecklistUserLinkMap" type="com.project.messanger.dto.ChecklistUserLinkDto">
        <id property="linkIdx" column="link_idx"/>
        <result property="checklistIdx" column="checklist_idx"/>
        <result property="teamIdx" column="team_idx"/>
        <result property="userIdx" column="user_idx"/>
    </resultMap>

    <resultMap id="ChecklistLogMap" type="com.project.messanger.dto.ChecklistLogDto">
        <id property="logIdx" column="log_idx"/>
        <result property="itemIdx" column="item_idx"/>
        <result property="isChecked" column="is_checked"/>
        <result property="content" column="content"/>
        <result property="creatorIdx" column="creator_idx"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <select id="getChecklistList" parameterType="hashmap" resultMap="ChecklistMap">
        SELECT *
        FROM checklist
        <where>
            <if test="title != null">
                AND UPPER(title) LIKE CONCAT('%', UPPER(#{title}), '%')
            </if>
            <if test="status != null">
                AND UPPER(status) LIKE CONCAT('%', UPPER(#{status}), '%')
            </if>
            <if test="user_idx != null">
                AND (
                    EXISTS (
                        SELECT 1
                        FROM checklist_user_link
                        WHERE checklist_idx = checklist.checklist_idx
                        AND user_idx = #{user_idx}
                    )
                    <if test="team_idx_list != null">
                        OR EXISTS (
                            SELECT 1
                            FROM checklist_user_link
                            WHERE checklist_idx = checklist.checklist_idx
                            AND team_idx IN <foreach collection="team_idx_list" item="teamIdx" open="(" close=")" separator=",">#{teamIdx}</foreach>
                        )
                    </if>
                )
            </if>
        </where>
        LIMIT ${limit} OFFSET ${offset}
    </select>

    <select id="getChecklistMainList" parameterType="hashmap" resultMap="ChecklistMap">
        SELECT *
        FROM checklist
        WHERE status != 'COMPLETED'
        AND (
            EXISTS (
                SELECT 1
                FROM checklist_user_link
                WHERE checklist_idx = checklist.checklist_idx
                AND user_idx = #{user_idx}
            )
            <if test="team_idx_list != null">
                OR EXISTS (
                    SELECT 1
                    FROM checklist_user_link
                    WHERE checklist_idx = checklist.checklist_idx
                    AND team_idx IN <foreach collection="team_idx_list" item="teamIdx" open="(" close=")" separator=",">#{teamIdx}</foreach>
                )
            </if>
        )
        ORDER BY created_date DESC
        LIMIT 10
    </select>

    <select id="getChecklistByIdx" parameterType="long" resultMap="ChecklistMap">
        SELECT checklist.*
        FROM checklist
        WHERE checklist_idx = #{checklistIdx}
    </select>

    <select id="getChecklistLog" parameterType="long" resultMap="ChecklistLogMap">
        SELECT *
        FROM checklist_log
        WHERE item_idx = #{itemIdx}
        ORDER BY item_idx DESC
    </select>

    <insert id="insertChecklist" parameterType="com.project.messanger.dto.ChecklistDto" useGeneratedKeys="true" keyProperty="checklistIdx" keyColumn="checklist_idx">
        INSERT checklist
        SET title = #{title},
        description = #{description},
        <choose>
            <when test="status != null"> status = #{status},</when>
            <otherwise> status = 'INCOMPLETE',</otherwise>
        </choose>
        creator_idx = #{creatorIdx},
        created_date = NOW(),
        updated_date = NOW()
    </insert>

    <update id="updateChecklist" parameterType="com.project.messanger.dto.ChecklistDto">
        UPDATE checklist
        SET <if test="title != null"> title = #{title},</if>
            <if test="description != null"> description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            updated_date = NOW()
        WHERE checklist_idx = #{checklistIdx}
    </update>

    <delete id="deleteChecklist" parameterType="long">
        DELETE FROM checklist
        WHERE checklist_idx = #{checklistIdx}
    </delete>

    <select id="getChecklistItemByIdx" parameterType="long" resultMap="ChecklistMap">
        SELECT *
        FROM checklist_item
        WHERE item_idx = #{itemIdx}
    </select>

    <insert id="insertChecklistItem" parameterType="com.project.messanger.dto.ChecklistItemDto">
        INSERT INTO checklist_item
        (
            checklist_idx,
            title,
            description,
            updated_date
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.checkListIdx},
            #{item.title},
            #{item.description},
            NOW()
        )
        </foreach>
    </insert>

    <update id="updateChecklistItem" parameterType="com.project.messanger.dto.ChecklistItemDto">
        UPDATE checklist_item
        SET <if test="title != null"> title= #{title},</if>
            <if test="description != null"> description = #{description},</if>
            updated_date = NOW()
        WHERE item_idx = #{itemIdx}
    </update>

    <delete id="deleteChecklistItem" parameterType="long">
        DELETE FROM checklist_item
        WHERE item_idx IN <foreach collection="list" item="value" open="(" close=")" separator=",">#{value}</foreach>
    </delete>

    <select id="getChecklistUserLink" parameterType="long" resultMap="ChecklistUserLinkMap">
        SELECT *
        FROM checklist_user_link
        WHERE checklist_idx = #{checklistIdx}
    </select>

    <insert id="insertChecklistUserLink" parameterType="com.project.messanger.dto.ChecklistLogDto">
        INSERT INTO checklist_user_link
        (
            checklist_idx,
            team_idx,
            user_idx
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.checklistIdx},
            #{item.teamIdx},
            #{item.userIdx}
        )
        </foreach>
    </insert>

    <delete id="deleteChecklistUserLink" parameterType="long">
        DELETE FROM checklist_user_link
        WHERE link_idx IN <foreach collection="list" item="value" open="(" close=")" separator=",">#{value}</foreach>
    </delete>

    <insert id="insertChecklistLog" parameterType="com.project.messanger.dto.ChecklistLogDto">
        INSERT checklist_log
        SET item_idx = #{itemIdx},
            <choose>
                <when test="isChecked != null"> is_checked = #{isChecked},</when>
                <otherwise>
                    is_checked = (
                        SELECT is_checked
                        FROM checklist_log
                        WHERE item_idx = #{itemIdx}
                        ORDER BY log_idx DESC
                        LIMIT 1
                    ),
                </otherwise>
            </choose>
            <if test="content != null"> content = #{content},</if>
            creator_idx = #{creatorIdx},
            created_date = NOW()
    </insert>

    <update id="updateChecklistLog" parameterType="com.project.messanger.dto.ChecklistLogDto">
        UPDATE checklist_log
        SET <if test="content != null"> content = #{content},</if>
            <if test="isChecked != null"> is_checked = #{isChecked},</if>
            created_date = NOW()
        WHERE log_idx = #{logIdx}
    </update>

    <delete id="deleteChecklistLog" parameterType="long">
        DELETE FROM checklist_log
        WHERE log_idx = #{logIdx}
    </delete>

</mapper>