<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.messanger.mapper.GoalMapper">

    <resultMap id="GoalMap" type="com.project.messanger.dto.GoalDto">
        <id property="goalIdx" column="goal_idx"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="targetValue" column="targetValue"/>
        <result property="startDate" column="startDate"/>
        <result property="endDate" column="endDate"/>
        <result property="creatorIdx" column="creator_idx"/>
        <result property="createdDate" column="created_date"/>
        <result property="updatedDate" column="updated_date"/>
    </resultMap>

    <resultMap id="GoalUserLinkMap" type="com.project.messanger.dto.GoalUserLinkDto">
        <id property="linkIdx" column="link_idx"/>
        <result property="goalIdx" column="goal_idx"/>
        <result property="teamIdx" column="team_idx"/>
        <result property="userIdx" column="user_idx"/>
    </resultMap>

    <resultMap id="GoalLogMap" type="com.project.messanger.dto.GoalLogDto">
        <id property="logIdx" column="log_idx"/>
        <result property="progressValue" column="progress_value"/>
        <result property="content" column="content"/>
        <result property="creatorIdx" column="creator_idx"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <resultMap id="GoalAndLogMap" type="com.project.messanger.dto.GoalAndLogDto">
        <id property="goalIdx" column="goal_idx"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="targetValue" column="target_value"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="creatorIdx" column="creator_idx"/>
        <result property="createdDate" column="created_date"/>
        <result property="updatedDate" column="updated_date"/>

        <result property="progressValue" column="progress_value"/>
        <result property="content" column="content"/>
        <result property="logDate" column="log_date"/>
    </resultMap>

    <sql id="sqlGoalListCondition">
        <where>
            <if test="title != null">
                AND UPPER(title) LIKE CONCAT('%', UPPER(#{title}), '%')
            </if>
            <if test="status != null">
                AND UPPER(status) = UPPER(#{status})
            </if>
            <if test="user_idx != null">
                AND (
                EXISTS (
                SELECT 1
                FROM goal_user_link
                WHERE goal_idx = goal.goal_idx
                AND user_idx = #{user_idx}
                )
                <if test="team_idx_list != null">
                    OR EXISTS (
                    SELECT 1
                    FROM goal_user_link
                    WHERE goal_idx = goal.goal_idx
                    AND team_idx IN <foreach collection="team_idx_list" item="teamIdx" open="(" close=")" separator=",">#{teamIdx}</foreach>
                    )
                </if>
                )
            </if>
        </where>
        ORDER BY goal.goal_idx DESC
    </sql>

    <select id="getGoalCount" parameterType="hashmap" resultType="long">
        SELECT COUNT(goal.goal_idx)
        FROM goal
        <include refid="sqlGoalListCondition" />
    </select>

    <select id="getGoalList" parameterType="hashmap" resultMap="GoalAndLogMap">
        SELECT goal.goal_idx
             , goal.title
             , goal.description
             , goal.status
             , goal.target_value
             , goal.start_date
             , goal.end_date
             , goal.creator_idx
             , goal.created_date
             , goal.updated_date
             , goal_log.progress_value
             , goal_log.content
             , goal_log.created_date AS log_date
        FROM goal
        LEFT JOIN
        (
            SELECT goal_idx
                 , progress_value
                 , content
                 , created_date
            FROM goal_log
            WHERE log_idx IN
            (
                SELECT MAX(log_idx)
                FROM goal_log
                GROUP BY goal_idx
            )
        ) goal_log
        ON goal.goal_idx = goal_log.goal_idx
        <include refid="sqlGoalListCondition" />
        LIMIT ${limit} OFFSET ${offset}
    </select>

    <select id="getGoalMainList" parameterType="hashmap" resultMap="GoalAndLogMap">
        SELECT goal.goal_idx
             , goal.title
             , goal.description
             , goal.status
             , goal.target_value
             , goal.start_date
             , goal.end_date
             , goal.creator_idx
             , goal.created_date
             , goal.updated_date
             , goal_log.progress_value
             , goal_log.content
             , goal_log.created_date AS log_date
        FROM goal
        LEFT JOIN
        (
            SELECT goal_idx
                 , progress_value
                 , content
                 , created_date
            FROM goal_log
            WHERE log_idx IN
            (
                SELECT MAX(log_idx)
                FROM goal_log
                GROUP BY goal_idx
            )
        ) goal_log
        ON goal.goal_idx = goal_log.goal_idx
        WHERE status != 'COMPLETED'
        AND (
            EXISTS (
                SELECT 1
                FROM goal_user_link
                WHERE goal_idx = goal.goal_idx
                AND user_idx = #{user_idx}
            )
            <if test="team_idx_list != null">
                OR EXISTS (
                    SELECT 1
                    FROM goal_user_link
                    WHERE goal_idx = goal.goal_idx
                    AND team_idx IN <foreach collection="team_idx_list" item="teamIdx" open="(" close=")" separator=",">#{teamIdx}</foreach>
                )
            </if>
        )
        ORDER BY DATEDIFF(SYSDATE(), end_date) DESC
        LIMIT 10
    </select>

    <select id="getGoalByIdx" parameterType="long" resultMap="GoalMap">
        SELECT goal_idx
             , title
             , description
             , status
             , targetValue
             , startDate
             , endDate
             , creator_idx
             , created_date
             , updated_date
        FROM goal
        WHERE goal_idx = #{goalIdx}
    </select>

    <select id="getGoalGraph" parameterType="hashmap" resultMap="GoalLogMap">
        SELECT log_idx
             , progress_value
             , content
             , creator_idx
             , created_date
        FROM goal_log
    </select>

    <select id="getGoalLog" parameterType="long" resultMap="GoalLogMap">
        SELECT log_idx
             , progress_value
             , content
             , creator_idx
             , created_date
        FROM goal_log
        WHERE goal_idx = #{goalIdx}
        ORDER BY log_idx DESC
    </select>

    <select id="getGoalUserLink" parameterType="long" resultMap="GoalUserLinkMap">
        SELECT link_idx
             , goal_idx
             , team_idx
             , user_idx
        FROM goal_user_link
        WHERE goal_idx = #{goalIdx}
    </select>

    <insert id="insertGoal" parameterType="com.project.messanger.dto.GoalDto" useGeneratedKeys="true" keyProperty="goalIdx" keyColumn="goal_idx">
        INSERT goal
        SET title = #{title},
            target_value = #{targetValue},
            creator_idx = #{creatorIdx},
            <choose>
                <when test="status != null"> status = #{status},</when>
                <otherwise> status = 'WAIT',</otherwise>
            </choose>
            <if test="description != null"> description = #{description},</if>
            <if test="startDate != null"> start_date = #{startDate},</if>
            <if test="endDate != null"> end_date = #{endDate},</if>
            created_date = NOW(),
            updated_date = NOW()
    </insert>

    <update id="updateGoal" parameterType="com.project.messanger.dto.GoalDto">
        UPDATE goal
        SET <if test="title != null"> title = #{title},</if>
            <if test="targetValue != null">target_value = #{targetValue},</if>
            <if test="status != null">status = #{status},</if>
            <if test="description != null"> description = #{description},</if>
            <if test="startDate != null"> start_date = #{startDate},</if>
            <if test="endDate != null"> end_date = #{endDate},</if>
            updated_date = NOW()
        WHERE goal_idx = #{goalIdx}
    </update>

    <delete id="deleteGoal" parameterType="long">
        DELETE FROM goal
        WHERE goal_idx = #{goalIdx}
    </delete>

    <insert id="insertGoalUserLink" parameterType="com.project.messanger.dto.GoalUserLinkDto">
        INSERT INTO goal_user_link
        (
            goal_idx,
            team_idx,
            user_idx
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.goalIdx},
            <choose>
                <when test="item.teamIdx > 0"> #{item.teamIdx},</when>
                <otherwise> null,</otherwise>
            </choose>
            <choose>
                <when test="item.userIdx > 0"> #{item.userIdx}</when>
                <otherwise> null</otherwise>
            </choose>
        )
        </foreach>
    </insert>

    <delete id="deleteGoalUserLinkByUserIdx" parameterType="hashmap">
        DELETE FROM goal_user_link
        WHERE goal_idx = #{goal_idx}
          AND user_idx IN <foreach collection="user_idx_list" item="value" open="(" close=")" separator=",">#{value}</foreach>
    </delete>

    <delete id="deleteGoalUserLinkByTeamIdx" parameterType="hashmap">
        DELETE FROM goal_user_link
        WHERE goal_idx = #{goal_idx}
          AND team_idx IN <foreach collection="team_idx_list" item="value" open="(" close=")" separator=",">#{value}</foreach>
    </delete>

    <insert id="insertGoalLog" parameterType="com.project.messanger.dto.GoalLogDto">
        INSERT goal_log
        SET log_idx = #{logIdx},
            goal_idx = #{goalIdx},
            <choose>
                <when test="progressValue != null"> progress_value = #{progressValue},</when>
                <otherwise>
                    progress_value = (
                        SELECT progress_value
                        FROM goal_log
                        WHERE goal_idx = #{goalIdx}
                        ORDER BY log_idx DESC
                        LIMIT 1
                    ),
                </otherwise>
            </choose>
            <if test="content != null"> content = #{content},</if>
            creator_idx = #{creatorIdx},
            created_date = NOW()
    </insert>

    <update id="updateGoalLog" parameterType="com.project.messanger.dto.GoalLogDto">
        UPDATE goal_log
        SET <if test="content != null"> content = #{content},</if>
            <if test="progressValue != null"> progress_value = #{progressValue},</if>
            created_date = NOW()
        WHERE log_idx = #{logIdx}
    </update>

    <delete id="deleteGoalLog" parameterType="long">
        DELETE FROM goal_log
        WHERE log_idx = #{logIdx}
    </delete>

</mapper>