<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.messanger.mapper.MeetingMapper">

    <resultMap id="ReservationMap" type="com.project.messanger.dto.ReservationDto">
        <id property="reservationIdx" column="reservation_idx"/>
        <result property="roomIdx" column="room_idx"/>
        <result property="description" column="description"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="approverIdx" column="approver_idx"/>
        <result property="creatorIdx" column="creator_idx"/>
        <result property="createdDate" column="created_date"/>
        <result property="updatedDate" column="updated_date"/>
    </resultMap>

    <resultMap id="ReservationWithUserMap" type="com.project.messanger.dto.ReservationWithUserDto">
        <id property="reservationIdx" column="reservation_idx"/>
        <result property="roomIdx" column="room_idx"/>
        <result property="description" column="description"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="approverIdx" column="approver_idx"/>
        <result property="approverName" column="approver_name"/>
        <result property="creatorIdx" column="creator_idx"/>
        <result property="creatorName" column="creator_name"/>
        <result property="createdDate" column="created_date"/>
        <result property="updatedDate" column="updated_date"/>
    </resultMap>

    <resultMap id="MeetingAttenderLinkMap" type="com.project.messanger.dto.MeetingAttenderLinkDto">
        <id property="linkIdx" column="link_idx"/>
        <result property="reservationIdx" column="reservation_idx"/>
        <result property="userIdx" column="user_idx"/>
        <result property="isAttend" column="is_attend"/>
    </resultMap>

    <resultMap id="MeetingAttenderLinkWithUserMap" type="com.project.messanger.dto.MeetingAttenderLinkWithUserDto">
        <id property="linkIdx" column="link_idx"/>
        <result property="reservationIdx" column="reservation_idx"/>
        <result property="userIdx" column="user_idx"/>
        <result property="email" column="email"/>
        <result property="userName" column="user_name"/>
        <result property="isAttend" column="is_attend"/>
    </resultMap>

    <resultMap id="MeetingRoomMap" type="com.project.messanger.dto.MeetingRoomDto">
        <id property="roomIdx" column="room_idx"/>
        <result property="name" column="name"/>
        <result property="location" column="location"/>
        <result property="capacity" column="capacity"/>
    </resultMap>

    <select id="getReservationList" parameterType="hashmap" resultMap="ReservationWithUserMap">
        SELECT reservation.reservation_idx
             , reservation.room_idx
             , reservation.description
             , reservation.start_date
             , reservation.end_date
             , reservation.approver_idx
             , approver.user_name AS approver_name
             , reservation.creator_idx
             , creator.user_name AS creator_name
             , reservation.created_date
             , reservation.updated_date
        FROM reservation
        INNER JOIN user AS creator
           ON creator.user_idx = reservation.creator_idx
        LEFT JOIN user AS approver
          ON approver.user_idx = reservation.approver_idx
        <where>
            <if test="description != null">
                AND (UPPER(reservation.description) LIKE CONCAT('%', UPPER(#{description}), '%')
            </if>
            <if test="reservation_date != null">
                AND (reservation.start_date IS NULL OR DATE_FORMAT(reservation.start_date, '%Y-%m-%d') &lt;= #{reservation_date})
                AND (reservation.end_date IS NULL OR DATE_FORMAT(reservation.end_date, '%Y-%m-%d') &gt;= #{reservation_date})
            </if>
            <if test="user_idx != null">
                AND EXISTS (
                    SELECT 1
                    FROM meeting_attender_link
                    WHERE meeting_attender_link.reservation_idx = reservation.reservation_idx
                      AND meeting_attender_link.user_idx = #{user_idx}
                )
            </if>
        </where>
        ORDER BY reservation.start_date ASC, reservation.end_date ASC
        LIMIT ${limit} OFFSET ${offset}
    </select>

    <select id="getReservationListByMonth" parameterType="hashmap" resultMap="ReservationMap">
        SELECT reservation_idx
             , room_idx
             , description
             , start_date
             , end_date
             , approver_idx
             , creator_idx
             , created_date
             , updated_date
        FROM reservation
        <where>
            <if test="reservation_date != null">
                AND (start_date IS NULL OR DATE_FORMAT(start_date, '%Y-%m') &lt;= #{reservation_date})
                AND (end_date IS NULL OR DATE_FORMAT(end_date, '%Y-%m') &gt;= #{reservation_date})
            </if>
            <if test="user_idx != null">
                AND EXISTS (
                    SELECT 1
                    FROM meeting_attender_link
                    WHERE reservation_idx = reservation_idx
                    AND user_idx = #{user_idx}
                )
            </if>
        </where>
        ORDER BY start_date ASC, end_date ASC
    </select>

    <select id="getReservationByIdx" parameterType="hashmap" resultMap="ReservationWithUserMap">
        SELECT reservation.reservation_idx
             , reservation.room_idx
             , reservation.description
             , reservation.start_date
             , reservation.end_date
             , reservation.approver_idx
             , reservation.creator_idx
             , user.user_name AS creator_name
             , reservation.created_date
             , reservation.updated_date
        FROM reservation
        INNER JOIN user
          AND user.user_idx = reservation.creator_idx
        WHERE reservation.reservation_idx = #{reservation_idx}
        <if test="user_idx != null">
        AND EXISTS (
            SELECT 1
            FROM meeting_attender_link
            WHERE meeting_attender_link.reservation_idx = reservation.reservation_idx
              AND meeting_attender_link.user_idx = #{user_idx}
        )
        </if>
    </select>

    <insert id="insertReservation" parameterType="com.project.messanger.dto.ReservationDto" useGeneratedKeys="true" keyProperty="reservationIdx" keyColumn="reservation_idx">
        INSERT reservation
        SET room_idx = #{roomIdx},
            <if test="description != null"> description = #{description},</if>
            start_date = #{startDate},
            end_date = #{endDate},
            <if test="approverIdx != null"> approver_idx = #{approverIdx},</if>
            creator_idx = #{creatorIdx},
            created_date = NOW(),
            updated_date = NOW()
    </insert>

    <update id="updateReservation" parameterType="com.project.messanger.dto.ReservationDto">
        UPDATE reservation
        SET <if test="roomIdx != null"> room_idx = #{roomIdx},</if>
            <if test="description != null"> description = #{description},</if>
            <if test="startDate != null"> start_date = #{startDate},</if>
            <if test="endDate != null"> end_date = #{endDate},</if>
            <if test="approverIdx != null"> approver_idx = #{approverIdx},</if>
            <if test="creatorIdx != null"> creator_idx = #{creatorIdx},</if>
            updated_date = NOW()
        WHERE reservation_idx = #{reservationIdx}
    </update>

    <delete id="deleteReservation" parameterType="long">
        DELETE FROM reservation
        WHERE reservation_idx = #{reservationIdx}
    </delete>

    <select id="getMeetingAttenderLink" parameterType="long" resultMap="MeetingAttenderLinkWithUserMap">
        SELECT meeting_attender_link.link_idx
             , meeting_attender_link.reservation_idx
             , user.user_idx
             , user.email
             , user.user_name
             , meeting_attender_link.is_attend
        FROM meeting_attender_link
        INNER JOIN user
           ON user.user_idx = meeting_attender_link.user_idx
        WHERE meeting_attender_link.reservation_idx = #{reservationIdx}
    </select>

    <select id="getMeetingAttenderLinkByIdx" parameterType="long" resultMap="MeetingAttenderLinkMap">
        SELECT link_idx
             , reservation_idx
             , user_idx
             , is_attend
        FROM meeting_attender_link
        WHERE link_idx = #{linkIdx}
    </select>

    <insert id="insertMeetingAttenderLink" parameterType="com.project.messanger.dto.MeetingAttenderLinkDto" useGeneratedKeys="true" keyProperty="linkIdx" keyColumn="link_idx">
        INSERT INTO meeting_attender_link
        (
            reservation_idx,
            user_idx,
            is_attend
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.reservationIdx},
            #{item.userIdx},
            #{item.isAttend}
        )
        </foreach>
    </insert>

    <update id="updateMeetingAttenderLink" parameterType="com.project.messanger.dto.MeetingAttenderLinkDto">
        UPDATE meeting_attender_link
        SET is_attend = #{isAttend}
        WHERE link_idx = #{linkIdx}
          AND user_idx = #{userIdx}
    </update>

    <delete id="deleteMeetingAttenderLink" parameterType="long">
        DELETE FROM meeting_attender_link
        WHERE reservation_idx = #{reservation_idx}
          AND user_idx IN <foreach collection="user_idx_list" item="value" open="(" close=")" separator=",">#{value}</foreach>
    </delete>

    <select id="getMeetingRoomList" resultMap="MeetingRoomMap">
        SELECT room_idx
             , name
             , location
             , capacity
        FROM meeting_room
        ORDER BY name
    </select>

    <select id="getMeetingRoomByIdx" parameterType="long" resultMap="MeetingRoomMap">
        SELECT room_idx
             , name
             , location
             , capacity
        FROM meeting_room
        WHERE room_idx = #{roomIdx}
    </select>

    <insert id="insertMeetingRoom" parameterType="com.project.messanger.dto.MeetingRoomDto" useGeneratedKeys="true" keyProperty="roomIdx" keyColumn="room_idx">
        INSERT meeting_room
        SET <if test="name != null"> name = #{name},</if>
            <if test="location != null"> location = #{location},</if>
            <choose>
                <when test ="capacity != null"> capacity = #{capacity}</when>
                <otherwise> capacity = 0</otherwise>
            </choose>
    </insert>

    <update id="updateMeetingRoom" parameterType="com.project.messanger.dto.MeetingRoomDto">
        UPDATE meeting_room
        SET <if test="name != null"> name = #{name},</if>
            <if test="location != null"> location = #{location},</if>
            <choose>
                <when test ="capacity != null"> capacity = #{capacity}</when>
                <otherwise> capacity = 0</otherwise>
            </choose>
        WHERE room_idx = #{roomIdx}
    </update>

    <delete id="deleteMeetingRoom" parameterType="long">
        DELETE FROM meeting_room
        WHERE room_idx = #{roomIdx}
    </delete>

</mapper>