<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.messanger.mapper.NoticeMapper">

    <resultMap id="NoticeMap" type="com.project.messanger.dto.NoticeDto">
        <id property="noticeIdx" column="notice_idx"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="linkUrl" column="linkUrl"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="isActive" column="is_active"/>
        <result property="creatorIdx" column="creator_idx"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <resultMap id="NoticeWithUserMap" type="com.project.messanger.dto.NoticeWithUserDto">
        <id property="noticeIdx" column="notice_idx"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="linkUrl" column="linkUrl"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="isActive" column="is_active"/>
        <result property="creatorIdx" column="creator_idx"/>
        <result property="creatorName" column="creator_name"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <sql id="sqlNoticeListCondition">
        FROM notice
        INNER JOIN user
           ON user.user_idx = notice.creator_idx
        <where>
            <if test="!is_admin">
                AND (notice.start_date IS NULL OR notice.start_date &lt;= SYSDATE())
                AND (notice.end_date IS NULL OR notice.end_date &gt;= SYSDATE())
                AND notice.is_active = 'Y'
            </if>
            <if test="title != null">
                AND UPPER(notice.title) LIKE CONCAT('%', UPPER(#{title}), '%')
            </if>
        </where>
    </sql>

    <select id="getNoticeCount" parameterType="hashmap" resultType="long">
        SELECT COUNT(notice.notice_idx)
        <include refid="sqlNoticeListCondition" />
    </select>

    <select id="getNoticeList" parameterType="hashmap" resultMap="NoticeWithUserMap">
        SELECT notice.notice_idx
             , notice.title
             , notice.content
             , notice.linkUrl
             , notice.start_date
             , notice.end_date
             , notice.is_active
             , notice.creator_idx
             , user.user_name AS creator_name
             , notice.created_date
        <include refid="sqlNoticeListCondition" />
        ORDER BY notice.start_date DESC
        LIMIT ${limit} OFFSET ${offset}
    </select>

    <select id="getNoticeByIdx" parameterType="long" resultMap="NoticeWithUserMap">
        SELECT notice.notice_idx
             , notice.title
             , notice.content
             , notice.linkUrl
             , notice.start_date
             , notice.end_date
             , notice.is_active
             , notice.creator_idx
             , user.user_name AS creator_name
             , notice.created_date
        FROM notice
        INNER JOIN user
           ON user.user_idx = notice.creator_idx
        WHERE notice.notice_idx = #{notice_idx}
        <if test="!is_admin">
            AND (notice.start_date IS NULL OR notice.start_date &lt;= SYSDATE())
            AND (notice.end_date IS NULL OR notice.end_date &gt;= SYSDATE())
            AND notice.is_active = 'Y'
        </if>
    </select>

    <insert id="insertNotice" parameterType="com.project.messanger.dto.NoticeDto" useGeneratedKeys="true" keyProperty="noticeIdx" keyColumn="notice_idx">
        INSERT notice
        SET title = #{title},
            content = #{content},
            <if test="linkUrl != null"> link_url = #{linkUrl},</if>
            <if test="startDate != null"> start_date = #{startDate},</if>
            <if test="endDate != null"> end_date = #{endDate},</if>
            <choose>
                <when test="isActive != null"> is_active = #{isActive},</when>
                <otherwise> is_active = 'Y',</otherwise>
            </choose>
            creator_idx = #{creatorIdx},
            created_date = NOW(),
            updated_date = NOW()
    </insert>

    <update id="updateNotice" parameterType="com.project.messanger.dto.NoticeDto">
        UPDATE notice
        SET <if test="title != null"> title = #{title},</if>
            <if test="content != null"> content = #{content},</if>
            <if test="linkUrl != null"> link_url = #{linkUrl},</if>
            <if test="startDate != null"> start_date = #{startDate},</if>
            <if test="endDate != null"> end_date = #{endDate},</if>
            <if test="isActive != null"> is_active = #{isActive},</if>
            updated_date = NOW()
        WHERE notice_idx = #{noticeIdx}
    </update>

    <delete id="deleteNotice" parameterType="long">
        DELETE FROM notice
        WHERE notice_idx = #{noticeIdx}
    </delete>

</mapper>