<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.messanger.mapper.UserMapper">

    <resultMap id="UserMap" type="com.project.messanger.dto.UserDto">
        <id property="userIdx" column="user_idx"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="userName" column="user_name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="adminYn" column="admin_yn"/>
        <result property="leaderYn" column="leader_yn"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <resultMap id="TeamMap" type="com.project.messanger.dto.TeamDto">
        <id property="teamIdx" column="team_idx"/>
        <result property="teamName" column="team_name"/>
        <result property="createdDate" column="created_date"/>
        <result property="updatedDate" column="updated_date"/>
    </resultMap>

    <sql id="sqlUserListCondition">
        FROM user
        WHERE is_deleted = 'N'
        <if test="email != null">
            AND UPPER(email) LIKE CONCAT('%', UPPER(#{email}), '%')
        </if>
        <if test="userName != null">
            AND UPPER(user_name) LIKE CONCAT('%', UPPER(#{user_name}), '%')
        </if>
        <if test="phoneNumber != null">
            AND UPPER(phone_number) LIKE CONCAT('%', UPPER(#{phone_number}), '%')
        </if>
    </sql>

    <select id="getUserCount" parameterType="hashmap" resultType="long">
        SELECT COUNT(user_idx)
        <include refid="sqlUserListCondition" />
    </select>

    <select id="getUserList" parameterType="hashmap" resultMap="UserMap">
        SELECT *
        <include refid="sqlUserListCondition" />
        LIMIT ${limit} OFFSET ${offset}
    </select>

    <select id="getAllUserList" resultMap="UserMap">
        SELECT *
        FROM user
        WHERE is_deleted = 'N'
    </select>

    <select id="getUserListByTeamIdx" parameterType="long" resultMap="UserMap">
        SELECT user.*
        FROM team_user_link
        INNER JOIN user
           ON user.user_idx = team_user_link.user_idx
        WHERE team_user_link.team_idx = #{teamIdx}
    </select>

    <select id="getUserByIdx" parameterType="long" resultMap="UserMap">
        SELECT user_idx, email, user_name, phone_number, admin_yn, leader_yn
        FROM user
        WHERE user_idx = #{userIdx}
    </select>

    <select id="getUserByEmail" parameterType="string" resultMap="UserMap">
        SELECT user_idx, email, password
        FROM user
        WHERE email = #{email}
    </select>

    <insert id="insertUser" parameterType="com.project.messanger.dto.UserDto" useGeneratedKeys="true" keyProperty="userIdx" keyColumn="user_idx">
        INSERT user
        SET email = #{email},
            <if test="password != null"> password = #{password},</if>
            <if test="userName != null"> user_name = #{userName},</if>
            <if test="phoneNumber != null"> phone_number = #{phoneNumber},</if>
            <if test="adminYn != null"> admin_yn = #{adminYn},</if>
            <if test="leaderYn != null"> leader_yn = #{leaderYn},</if>
            created_date = NOW(),
            updated_date = NOW()
    </insert>

    <update id="updateUser" parameterType="com.project.messanger.dto.UserDto">
        UPDATE user
        SET <if test="password != null"> password = #{password},</if>
            <if test="userName != null"> user_name = #{userName},</if>
            <if test="phoneNumber != null"> phone_number = #{phoneNumber},</if>
            <if test="adminYn != null"> admin_yn = #{adminYn},</if>
            <if test="leaderYn != null"> leader_yn = #{leaderYn},</if>
            updated_date = NOW()
        WHERE user_idx = #{userIdx}
    </update>

    <update id="deleteUser" parameterType="com.project.messanger.dto.UserDto">
        UPDATE user
        SET email = '',
            password = NULL,
            phone_number = NULL,
            is_deleted = 'Y',
            updated_date = NOW()
        WHERE user_idx = #{userIdx}
    </update>

    <sql id="sqlTeamListCondition">
        FROM team
        <where>
            <if test="team_name != null">
                AND UPPER(team_name) LIKE CONCAT('%', UPPER(#{team_name}), '%')
            </if>
        </where>
        ORDER BY team_idx DESC
    </sql>

    <select id="getTeamCount" parameterType="hashmap" resultType="long">
        SELECT COUNT(team_idx)
        <include refid="sqlTeamListCondition" />
    </select>

    <select id="getTeamList" parameterType="hashmap" resultMap="TeamMap">
        SELECT team_idx
             , team_name
             , created_date
             , updated_date
        <include refid="sqlTeamListCondition" />
        LIMIT ${limit} OFFSET ${offset}
    </select>

    <select id="getAllTeamList" resultMap="TeamMap">
        SELECT *
        FROM team
    </select>

    <select id="getTeamListByUserIdx" parameterType="long" resultMap="TeamMap">
        SELECT team.*
        FROM team_user_link
        INNER JOIN team
           ON team.team_idx = team_user_link.team_idx
        WHERE team_user_link.user_idx = #{userIdx}
    </select>

    <select id="getTeamByIdx" parameterType="long" resultMap="TeamMap">
        SELECT team_idx
             , team_name
             , created_date
             , updated_date
        FROM team
        WHERE team_idx = #{teamIdx}
    </select>

    <insert id="insertTeam" parameterType="string" useGeneratedKeys="true" keyProperty="teamIdx" keyColumn="team_idx">
        INSERT team
        SET team_name = #{teamName},
            created_date = NOW(),
            updated_date = NOW()
    </insert>

    <update id="updateTeam" parameterType="com.project.messanger.dto.TeamDto">
        UPDATE team
        SET team_name = #{teamName},
            updated_date = NOW()
        WHERE team_idx = #{teamIdx}
    </update>

    <delete id="deleteTeam" parameterType="long">
        DELETE FROM team
        WHERE team_idx = #{teamIdx}
    </delete>

    <insert id="insertTeamUserLink" parameterType="com.project.messanger.dto.TeamUserLinkDto">
        INSERT INTO team_user_link
        (
            user_idx,
            team_idx
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.userIdx},
            #{item.teamIdx}
        )
        </foreach>
    </insert>

    <delete id="deleteTeamUserLinkByUserIdx" parameterType="long">
        DELETE FROM team_user_link
        WHERE user_idx = #{user_idx}
          AND team_idx IN <foreach collection="team_idx_list" item="value" open="(" close=")" separator=",">#{value}</foreach>
    </delete>

    <delete id="deleteTeamUserLinkByTeamIdx" parameterType="hashmap">
        DELETE FROM team_user_link
        WHERE team_idx = #{team_idx}
          AND user_idx IN <foreach collection="user_idx_list" item="value" open="(" close=")" separator=",">#{value}</foreach>
    </delete>

</mapper>